<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "css.html"%}
  </head>

  <body data-spy="scroll" data-target="#in-this-article">
    
    {% include "navbar.html" %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}

   
    {% include "scripts.html" %}
  </body>
</html>
