{% load static %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <img src="{% static 'img/yuva-logo.jpg'%}" alt="logo" height=100 width=300>
    <!-- Image LOGO -->
     <a href="/" class="logo mr-auto"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Signup</a></li>

      </ul>
    </nav><!-- .nav-menu -->

    <!-- <a href="#appointment" class="appointment-btn scrollto">Make an action</a> -->

  </div>
</header><!-- End Header -->
